.home{
  width: 100%;
  position: relative;
}
.home img{
  width: 100%;
  height: 80vh;
}
.header{
  width: 100%;
  z-index: 5;
  position: absolute;
}
.header h2{
  font-size: 4vw;
  color: #0F6F41;
}
.header h1{
  font-size: 5vw;
  color: white;
  font-weight: 800;
}
@media (max-width: 900px) {
  .home img{
    height: 100%;
  }
  .header h2{
    font-size: 5vw;
  }
  .header h1{
    font-size: 8vw;
  }
}
@media (max-width: 600px) {
  .home img{
    height: 100%;
  }
  .header h2{
    font-size: 5vw;
  }
  .header h1{
    font-size: 8vw;
  }
}