.nav-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  position: absolute;
  top: 0;
  z-index: 2;
}
.nav-bar img{
  width: 5vw;
  height: 5vw;
}
.nav-bar ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-bar li{
  margin: 1vw;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #0F6F41;
}
#logout{
  width: 2.5vw;
  height: 2.5vw;
}
#nav-btn{
  background-color: #0F8B4E;
  border-radius: 20px;
  color: white;
}
.nav-bar li:hover{
  background-color: white;
  color: #0F8B4E;
  border-radius: 15px;
  transition: .8s;
}
#nav-btn:hover{
  background-color: white;
  color: #0F8B4E;
  transition: .8s;
}
#toggle{
  display: none;
}

.toggle-menu{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0vw;
}
.toggle-menu-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7vw 5vw 0vw 5vw;
}
.toggle-menu-head img{
  width: 5vw;
  height: 5vw;
}
.toggle-menu ul{
  margin: 0vw 4vw 5vw 4vw;
  padding: 0;
  overflow: hidden;
}
.toggle-menu li{
  margin: 1vw;
  padding: 1vw;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid #0F8B4E;
}

@media only screen and (max-width: 650px) {
  .nav-bar{
    padding: 5vw;
  }
  .nav-bar img{
    width: 10vw;
    height: 10vw;
  }
  .nav-bar ul{
    display: none;
  }
  .toggle-menu{
    display: block;
  }
  #toggle{
    display: block;
    width: 5vw;
    height: 5vw;
  }
  #logout{
    width: 5vw;
    height: 5vw;
  }
  
}