/* CardStyles.css */

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4fff2;
    padding: 30px 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #333;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
}

.description,
.position {
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #777;
}

.programme {
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: rgba(15, 139, 78, 1);
}

.batch {
    font-size: 12px;
    margin: 10px 0 5px;
    color: #333;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly; /* Space evenly for better layout */
    margin-top: 20px;
    width: 100%;
    padding-right: 60px; /* Adjust padding */
    padding-left: 60px; /* Adjust padding */
    align-items: center;
}

.icon-link {
    color: #333;
    /* Increase icon size here */
    width: 45px; /* Adjust as necessary for desired size */
    height: 45px; /* Adjust as necessary for desired size */
    transition: color 0.3s; /* Transition for hover effect */
}

.icon-link img {
    width: 100%; /* Make the image take the full width of the link */
    height: 100%; /* Make the image take the full height of the link */
    object-fit: contain; /* Ensure the image scales properly */
}

.icon-link:hover {
    color: rgba(15, 139, 78, 1); /* Change icon color on hover */
}
